@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600&display=swap');

* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #535c68;
}

/* MAIN BOX */
.bmi-calculator {
  width: 820px;
  height: 500px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;   /* Prevent image overflow */
}

/* LEFT SIDE (Input Form) */
.data {
  flex: 1;
  padding: 25px;
}

h1 {
  font-size: 22px;
  color: #2980b9;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

button {
  background-color: #0d4469;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #1a9df5;
}

/* CLEAR BUTTON */
.data button:nth-of-type(2) {
  background-color: #9c1104;
  margin-left: 10px;
}
.data button:nth-of-type(2):hover {
  background-color: #f38b04;
}

/* RESULT BOX */
.result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 4px;
}

.result p:first-child {
  color: #3498db;
  font-weight: bold;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

/* RIGHT SIDE (IMAGE PERFECT FIT) */
.box {
  width: 350px;
  background-image: url('./assets/BMI men.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain; /*PERFECT FIT*/
  border-left: 2px solid #ddd;
}
